<h1>Category Listing Page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Remarks</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.category_name %></td>   
      <td><%= category.remarks %></td>
      <td><%= link_to 'Show', category_path(category) %></td>
      <td><%= link_to 'Edit', edit_category_path(category) %></td>
      <td><%= link_to 'Delete', category_path(category), method: :delete, data: { confirm: "Are you sure?"} %></td>
      <td><div> by <%= category.user.username %> </div> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Create new category', new_category_path %>
</p>
