<h1>Showing Category Details</h1>

<p><strong>Title: </strong> <%= @category.category_name %></p>
<p><strong>Remarks: </strong> <%= @category.remarks %></p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Delete', category_path(@category), method: :delete, data: { confirm: "Are you sure?"} %> |
<%= link_to 'Return to Main Page', root_path %>

<%= link_to 'Make New Task', new_category_agenda_path(@category) %>
<%= link_to 'Show Task', category_agendas_path(@category) %>